<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2018 Bokyung Moon. Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></div>
      <div class="col-sm-6">
        <div class="follow-us"> 
            <a class="fa fa-github social-icon" href="https://github.com/bmoon4"></a> <a class="fa fa-linkedin social-icon" href="https://www.linkedin.com/in/elainemoon07/"></a> <a class="fa fa-google-plus social-icon" href="mailto:elaine.moon.72@gmail.com"></a> </div>
      </div>
      <div  class="col-sm-12" >This website is optimized to the following browsers: Google Chrome, Mozilla Firefox, Safari and Microsoft Edge with wide screen (Desktop/Laptop)</div>
    </div>
  </div>
</footer>
<!--/#footer--> 