<section  class ="mainContainer">
  <div class="logo">
    <img src="../../assets/images/logos/logo_LinkedIn_BG.jpg" alt ="Bokyung Moon">
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div>
      <h1>Work Experience</h1>
      <div class = "contents">
        <h2>Application Developer, Co-op</h2>
        <h3>CIBC, Wealth Management Technology </h3>
         <p>Toronto, Ontario, Canada</p>
         <p>January 2018 - April 2018</p>
         <p>Researched Open-source CMS Applications and performed hands-on programming experience with front-end content and template  development in JavaScript, XML, XHTML, and jQuery. 
            Enhanced user experience design solutions in  the web content space, defect resolution and management. </p>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div>
        <h1>Skills</h1>
        <div class = "contents">
          <h2>IDE</h2>
          <p>Visual Studio / Visual Studio Code, Eclipse, NetBeans, IntelliJ, Sublime Text, IBM Rational Developer, Komodo Edit</p>
          <h2>Web Development</h2>
          <p>React, jQuery, Angular, Node.js, HTML5, BootStrap</p>
          <h2>Object-oriented Programming</h2>
          <p>C++, C, Java</p>
          <h2>Database</h2>
          <p>Oracle, MySQL, MongoDB, PostgreSQL</p>
          <h2>Other Skills</h2>
          <p>UNIX/LINUX, Content Management System (dotCMS), 3D Paint, Adobe Photoshop, IBM Business Programming</p>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <div>
      <h1>Education</h1>
      <div class = "contents">
          <h2>Computer Programming - Diploma</h2>
          <h3>Seneca College, Toronto, Ontario, Canada</h3>
          <p>January 2017 - August 2018</p>
          <p>Studied Object-oriented programming in Java and C++, Web development in JavaScript, Node.js, React and Angular</p>
          <p>Expected Graduation: August 2018</p>
      </div>
      <div class = "contents">
          <h2>Law - Bachelor of Laws</h2>
          <h3>Ewha Women's University, Seoul, South Korea</h3>
          <p>March 2007 - August 2014</p>
          <p>Studied Criminal Law, Criminal Procedure Law, Ethics, and Labour Law</p>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div>
      <h1>Accomplishment</h1>
      <div class = "contents">
          <h2>Student Thought Forum Winter 2018 - Winner</h2>
          <h3>CIBC</h3>
          <p>April 2018</p>
          <p>Demonstrated team idea how CIBC can leverage modern technology and current trends to help spark the next step in the evolution of online and digital banking while still maintaining the high-tech, high-touch culture of the bank.</p>
      </div>
      <div class = "contents">
          <h2>President's Honour List</h2>
          <h3>Seneca College, David Agnew</h3>
          <p>Fall 2017</p>
      </div>
    </div>
    <p>&nbsp;</p>
  <p>&nbsp;</p>
    <div>
      <h1>Contact</h1>
      <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_CA" data-type="horizontal" data-theme="dark" data-vanity="elainemoon07"><a class="LI-simple-link" href='https://ca.linkedin.com/in/elainemoon07?trk=profile-badge'>Bokyung Moon</a></div>
      <div class = "contents">
        <h2> <i class="fa fa-phone"></i> 778.680.3992</h2>
        <h2> <i class="fa fa-envelope-o"></i> elaine.moon.72@gmail.com</h2>              
      </div>   
    </div>
 
</section>
   <!--/#main-slider-->
 


   
   <!--/#feature-->