<section  class ="mainContainer">
    <div>
      <h1>Connect Four Game</h1>
      
      <div class = "contents">
        <h2>Java</h2>
        <p class="link"><a href="https://youtu.be/yB2WFNBMnzM">https://youtu.be/yB2WFNBMnzM </a></p> 
        <iframe width="880" height="495" src="https://www.youtube.com/embed/yB2WFNBMnzM"> </iframe>
      </div>
      <div class = "contents">
        <h2>In-progress Project</h2>
        <h2>Difficulty: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h2>
        <p class = "project">
          Connect four is a two player board game in which the players alternately drop colored disks into a seven column, six row vertically suspended grid.
          Ths objective of the game is to connect <b>four same-coloured</b> disks in a row, a column, or a diagonal before the opponent can do likewise.
        </p>
        <p class = "project">
          The program prompts two players to drop a red or yellow disk alternately. 
        </p>
        <div class = "project">
          <h3><b>The most challeging part was...</b></h3> 
          <p>Whenever a disk is droppped, the program redisplays the board on the console and determins the status of the game (win, draw, continue).</p>
          <p>I have been working on my codes in order to handle "draw" and "continue" so far. I will develop some algorithms to deal with such diverse scenarios.</p>
        </div>
        <div class = "project">
          <h3><b>What I have learned is...</b></h3> 
          <p>I have learned how to traverse diagonally in a 2 dimenstional array and how to get the arrays for the rows and the columns.</p>
        </div>
      </div>
    </div>

    <div>
      <h1>Address Book</h1>
      <div class = "contents">
        <h2>JavaFX with Scenebuilder</h2>
        <p class="link"><a href="https://youtu.be/Smh1IjktAmY">https://youtu.be/Smh1IjktAmY </a></p> 
        <iframe width="880" height="495" src="https://www.youtube.com/embed/Smh1IjktAmY"> </iframe>
      </div>
      <div class = "contents">
        <h2>Completed Project</h2>
        <h2>Difficulty: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h2>
        <p class = "project">
         I built a simple address book application using JavaFX and Scenebuilder. This app allows a user to create, edit, and delete addresses. All information can be saved in a XML file format.  
        </p>
        <div class = "project">
          <h3><b>The most challeging part was...</b></h3> 
          <p>I was not familiar with the GUI(Graphical User Interface) programming. It was really hard to design GUI structures and bind them in order to make this app work smoothly.</p>
        </div>
        <div class = "project">
          <h3><b>What I have learned is...</b></h3> 
          <p>I learned how to read and write a file in XML format and how to use the Scenebuilder software which is very useful to create GUI files.</p>
        </div>
      </div>
    </div>

    <div>
      <h1>Payroll Application</h1>
      <div class = "contents">
        <h2>RPGLE and CLLE (IBM Business Programming)</h2>
        <p class="link"><a href="https://youtu.be/HFNlxlvAUm4 ">https://youtu.be/HFNlxlvAUm4  </a></p> 
        <iframe width="880" height="495" src="https://www.youtube.com/embed/HFNlxlvAUm4"> </iframe>
      </div>
      <div class = "contents">
        <h2>Completed Project</h2>
        <h2>Difficulty: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h2>
        <p class = "project">
        This RPGLE program asks the user what shift should be reported on and then produces the correct overrides and passes the appropriate report title when invoking. 
        </p>
     
        <div class = "project">
          <h3><b>The most challeging part was...</b></h3> 
          <p>It was hard to create a CLLE module that passes a parameter to an RPGLE module and combine them into a running program.</p>
        </div>
        <div class = "project">
          <h3><b>What I have learned is...</b></h3> 
          <p>
            I learned how to bind display, CLLE, and RPGLE files together in order to create one single application. 
          </p>
        </div>
      </div>
    </div>
</section>
   