<section id="main-slider" class="no-margin">
  <div class="nameContainer">
      <div class="col-sm-12">
          <h1>Welcome to my webpage</h1>
          <p>&nbsp;</p>
          <h1>Bokyung Moon</h1>
          <p>&nbsp;</p>
            <h2> New Grad / Entry Level Developer</h2>
      </div>
  </div>
</section>

<div class="color-border"> </div>
<section id="feature" >
  <div class="container">
    <div class="center">
      <h2>Featured Skills</h2>
      <p class="lead">I am skilled in <b>React, Angular, HTML, Node.js, C++, Java, JavaScript, and Oracle.</b>
         I am also familiar with Agile and Scrum methodology and have developed effective communication skills through many team projects. 
        I collaborate well with others, which makes me a good team player.</p>
    </div>
    <div class="row">
      <div class="features">
        <div class="col-md-6 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-desktop"></i>
            <h2>Web Development | Front-end and Mid-tier</h2>
            <h3>JavaScript, Angular, React and Node.js</h3>
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-cogs"></i>
            <h2>Object-oriented Programming</h2>
            <h3>C++, Java</h3>
          </div>
        </div> 
      </div>
      <!--/.services--> 
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#feature-->